BODY {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
}

A {
    color: $brand-color;
    text-decoration: underline;
    transition: all .25s;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: lighten($brand-color, 15%);
        text-decoration: none;
    }
}

H1, H2, H3, H4, H5 {
    margin: .5em 0;
}

H1 {
    font-size: 2.5rem;

    @media (min-width: 800px) {
        font-size: 3.5rem;
    }

    A,
    A:visited {
        text-decoration: none;
        color: inherit;
    }

    A:hover {
        text-decoration: underline;
    }
}

H2 {
    font-size: 1.8rem;

    @media (min-width: 800px) {
        font-size: 2.5rem;
    }
}
    .post__title {
        margin-top: 0;
    }

H3 {
    font-size: 1.5rem;

    @media (min-width: 800px) {
        font-size: 2rem;
    }

    SUP {
        font-size: .7rem;
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }
}

H4 {
    font-size: 1.2rem;

    @media (min-width: 800px) {
        font-size: 1.5rem;
    }
}

H5 {
    font-size: 1.25rem;
}

FIGURE {
    margin: 0;
}

IMG {
    border: 1px solid #DDD;
}

LI {
    margin-bottom: .5rem;
}

DL {
  margin-bottom: 2rem;
}

DT {
    font-weight: bold;
}

LI > DL > DT {
    font-size: 1.1em;
}

DD > DL {
    margin-top: .5rem ;
}

DD:not(:last-child) {
    margin-bottom: .5rem;
}

PRE,
CODE {
    border: 1px solid #DDD;
    border-radius: 3px;
    background-color: #EEE;
    font-size: 15px;
}

CODE {
    padding: 1px 5px;
    // font-family: Courier New, monospace;
}

PRE {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* Counters
--------------------------------------------- */

OL {
    counter-reset: list-counter;
    list-style: none;
}
OL OL {
    list-style-type: decimal;
    padding-left: 1.2em;
}

OL > LI {
    counter-increment: list-counter;
}
    OL > LI > H3:before {
        content: counter(list-counter) '. ';
    }

.list--has-numbers {
  list-style-type: decimal;
}

/* Page Nav
--------------------------------------------- */

.page-nav {
  margin-top: 1rem;
}

.page-nav__title {
  font-weight: bold;
  font-size: 1.25rem;
}
.page-nav__list {
    list-style-type: decimal;
    font-size: .9em;
}

/* Footnotes
--------------------------------------------- */

.footnotes {
    margin: 2rem 0 0;
    padding-top: 1rem;
    border-top: 1px solid #DDD;
    list-style-type: decimal;
    font-size: .9em;
    color: #777;
}

.footnotes__item {
    float: left;
    clear: both;
    padding: .3rem .5rem;
}
.footnotes__item:target {
    background: lemonchiffon;
}

/* Tip
--------------------------------------------- */

.tip {
  font-style: italic;
}
