.site-nav {
  @media (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.site-nav__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2;

  @media (max-width: 600px) {
    margin-bottom: 1.5rem;
  }
}

  .site-nav__item {
    margin: 0 2rem 0 0 ;
    padding: 0;
  }

  .site-nav__item_current a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }