.wrapper {
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem 3rem;
  box-sizing: border-box;
}

.main {
  min-height: 200px;
}

.siteContent::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

@media (max-width: 1000px) {
  .siteContent {
    display: flex;
    flex-direction: column;
  }

  .main {
    order: 1;
  }

  .aside {
    margin-bottom: 2rem;
  }

  .page--index {
    .main {
      order: 0;
      margin-bottom: 2rem;
    }
    .aside {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1000px) {
  .main {
    // to enable sticky sidebar
    float: left;
    width: 100%;
    padding-right: 320px;
    box-sizing: border-box;
  }

  .aside {
    float: right;
    margin-left: -300px;
    width: 280px;
    padding-top: 1rem;

    position: sticky;
    top: 20px;
  }
}
