---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "vars-mixins",
  "base",
  "layout",
  "page-nav",
  "footnotes",
  "socials",
  "site-nav"
;
