<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper">
      {% include header.html %}

      <div class="container">
        <main class="main">
          <div class="page-content">
            {{ content }}
          </div>
        </main>

        <aside class="aside">
          <h5>На этой странице:</h5>
          {% include page-nav.html list=page.links parent='page-nav' type='ol' %}
        </aside>
      </div>

      {% include footer.html %}

    </div>

    <script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
