<!DOCTYPE html>
<html lang="ru">

  {% include head.html %}

  <body class="page{% if page.id %} page_{{page.id}}{% endif %}">

    <div class="wrapper">
      {% include header.html %}

      <div class="site-content">
        <main class="main">
          {{ content }}
        </main>

        <aside class="aside">

          <nav class="page-nav">
            <div class="page-nav__title">На этой странице:</div>
            {% include page-nav.html list=page.links parent='page-nav' type='ol' %}
          </nav>

          {% if page.additional_links %}
          <nav class="page-nav">
            <div class="page-nav__title">Полезные ссылки:</div>
            {% include page-nav.html list=page.additional_links parent='page-nav' type='ol' %}
          </nav>
          {% endif %}

          {% if page.id=='index' %}
          <nav class="page-nav">
            <div class="page-nav__title">Проекты по теме:</div>
            {% include page-nav.html list=site.projects parent='page-nav' type='ol' %}
          </nav>
          {% endif %}

        </aside>
      </div>

      {% include footer.html %}

    </div>

    <script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter44774071 = new Ya.Metrika({
                        id:44774071,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/44774071" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

  </body>

</html>
